<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap desktop rescap">

  <Identity
    Name="@@IDENTITY_NAME@@"
    Publisher="@@PUBLISHER@@"
    Version="@@VERSION@@"
    ProcessorArchitecture="@@ARCHITECTURE@@" />

  <Properties>
    <DisplayName>ms-resource:AppDisplayName</DisplayName>
    <PublisherDisplayName>@@PUBLISHER_DISPLAY_NAME@@</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Resources>
    <Resource Language="en-US" />
    <Resource Language="ja-JP" />
    <Resource Language="zh-Hans" />
    <Resource Language="zh-Hant" />
    <Resource Language="ko-KR" />
    <Resource Language="it-IT" />
    <Resource Language="es-ES" />
    <Resource Language="hi-IN" />
    <Resource Language="fr-FR" />
    <Resource Language="ru-RU" />
    <Resource Language="pt-BR" />
    <Resource Language="ar-SA" />
    <Resource Language="tr-TR" />
    <Resource Language="de-DE" />
    <Resource Language="id-ID" />
    <Resource Language="vi-VN" />
    <Resource Language="pl-PL" />
    <Resource Language="th-TH" />
  </Resources>

  <Dependencies>
    <TargetDeviceFamily
      Name="Windows.Desktop"
      MinVersion="10.0.19041.0"
      MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Applications>
    <Application
      Id="App"
      Executable="App\BatteryTray.exe"
      EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="ms-resource:AppDisplayName"
        Description="ms-resource:AppDescription"
        BackgroundColor="#0078D4"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Square150x150Logo="Assets\Square150x150Logo.png">
        <uap:DefaultTile
          Wide310x150Logo="Assets\Wide310x150Logo.png"
          Square310x310Logo="Assets\Square310x310Logo.png" />
      </uap:VisualElements>
      <Extensions>
        <desktop:Extension
          Category="windows.startupTask"
          Executable="App\BatteryTray.exe"
          EntryPoint="Windows.FullTrustApplication">
          <desktop:StartupTask
            TaskId="BatteryTrayStartup"
            Enabled="false"
            DisplayName="ms-resource:AppDisplayName" />
        </desktop:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <DeviceCapability Name="bluetooth" />
  </Capabilities>
</Package>
